@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


$menu_WIDTH: 150px;

.menu10 {
  display: block;
  position: relative;
  cursor: pointer;
}

.menu-title10 {
    display: block;
    width: 155px;
    height: 45px;
    padding: 12px 0 0;
    background: #9dc852;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s background-color;
  }

  .menu-title10:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #9dc852;
    border-left: ($menu_WIDTH / 2) solid transparent;
    border-right: ($menu_WIDTH / 2) solid transparent;
    border-bottom: 0 solid #dddddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition:
      0.2s 0.2s border-top ease-out,
      0.3s border-top-color;
  }

  .menu-title10:hover { background: #8db842; }
.menu-title10:hover:before { border-top-color: #8db842; }

.menu10:hover > .menu-title10:before {
  border-top-width: 0;
  transition:
    0.2s border-top-width ease-in,
    0.3s border-top-color;
}


.menu-title10:after {
    content: "";
    display: block;
    height: 0;
    border-left: ($menu_WIDTH / 2) solid transparent;
    border-right: ($menu_WIDTH / 2) solid transparent;
    border-bottom: 0 solid #ebebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    transition: 0.2s border-bottom ease-in;
  }


  .menu10:hover > .menu-title10:after {
    border-bottom-width: 5px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
  }

  .menu-dropdown10 {
    max-width: 95%;
    padding: 15px 0;
    // position: absolute;
    background: #ebebeb;
    z-index: 100;
    transition:
      0.5s padding,
      0.5s background;
  }


  .menu-dropdown10:after {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #ebebeb;
    border-left: ($menu_WIDTH / 2) solid transparent;
    border-right: ($menu_WIDTH / 2) solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.5s border-top;
  }


  .menu10:not(:hover) > .menu-dropdown10 {
    padding: 0;
    background: #dddddd;
    z-index: 99;
  }
  
  .menu10:not(:hover) > .menu-dropdown10:after {
    border-top-color: #dddddd;
  }
  
  .menu10:not(:hover) > .menu-title10:after {
    border-bottom-color: #dddddd;
  }

  .menu-dropdown10 > * {
    overflow: hidden;
    height: 30px;
    padding: 5px 10px;
    background: rgba(0,0,0,0);
    white-space: nowrap;
    transition: 
      0.5s height cubic-bezier(.73,.32,.34,1.5),
      0.5s padding cubic-bezier(.73,.32,.34,1.5),
      0.5s margin cubic-bezier(.73,.32,.34,1.5),
      500ms 0.2s color,
      0.2s background-color;
  }

  .menu-dropdown10 > *:hover {
    background: rgba(0,0,0,0.1);
  }
  
  .menu10:not(:hover) > .menu-dropdown10 > * {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25,25,25,0);
    transition: 
      0.5s 0.1s height,
      0.5s 0.1s padding,
      0.5s 0.1s margin,
      500ms color,
      0.6s visibility;
    z-index: 99;
  }

  .hList10 {
    //overflow: hidden;
  }
  
  .hList10 > * {
    float: left;
  }
  
  .hList10 > * + * {
    margin-left: 0;
  }

  .menu-dropdown10 li:hover{
    background:#8db842 !important;
    color:white !important;
    transition:500ms !important;
  }