.changeToDefault_blog{
    padding-bottom: 50px;
  }
  
  .changeToDefault_blog h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#8e8d90;
    font-family: 'Droid Sans', sans-serif;
  
  }
  
  .changeToDefault_blog h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#8e8d90;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
  
  .changeToDefault_blog h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#8e8d90;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
  .changeToDefault_blog h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#8e8d90;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
  .changeToDefault_blog h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
   
  .changeToDefault_blog h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#8e8d90;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
  .changeToDefault_blog p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color:#8e8d90;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
  
  .changeToDefault_blog li {
    display: list-item;
    text-align: -webkit-match-parent;
    color:#8e8d90;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
  
  .changeToDefault_blog ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color:#8e8d90;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
  .changeToDefault_blog a{
    color: #007bff;
    font-family: 'Hind Siliguri', sans-serif;
  
  }













  .container {
    /* margin-top: 100px */
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2;
    opacity: 0.5;
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored {
    background: #3acf87
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}


.view-more-blog-btn {
  background: white;
  color:#007bff;
  border-radius: 7px;
  padding: 5px;
}

.delete-blog-btn{
  position: fixed;
  /* bottom: 0; */
  right: 0;
  /* width: 300px; */
  /* border: 3px solid #73AD21; */
  /* z-index: 10; */
}