.page-title-area {
    
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    background-image: url(./page-title-bg-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    display: flex;
    justify-content: space-between;
}


.page-title-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #30296c; */
    opacity: .9;
    z-index: -1;
}

.about-img-three {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-bottom: 30px;
}

/* .about-img-three.before-style::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear,left top,right top,from(#ffa203),to(#ff5e29));
    background-image: linear-gradient(to right,#ffa203,#a39f9e);
    z-index: -1;
    -webkit-animation: border-transform 10s linear infinite alternate forwards;
    animation: border-transform 10s linear infinite alternate forwards;
} */



.changeToDefault2{
    padding-bottom: 50px;
  }
  
  .changeToDefault2 h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#8e8d90;
    font-family: 'Droid Sans', sans-serif;
  
  }
  
  .changeToDefault2 h2 {
    display: block;
    font-size: 40px;
    /* margin-block-start: 0.83em; */
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#30296c;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
  
  .changeToDefault2 h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#8e8d90;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
  .changeToDefault2 h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#8e8d90;
    font-family: 'Hind Siliguri', sans-serif;
    
  }
  
  .changeToDefault2 ul li p {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 600;
    color:#30296c;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    
  }
  
  
  .changeToDefault2 h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
   
  .changeToDefault2 h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#8e8d90;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
  .changeToDefault2 p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color:#8e8d90;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
  
  .changeToDefault2 li {
    display: list-item;
    text-align: -webkit-match-parent;
    color:#8e8d90;
    font-family: 'Hind Siliguri', sans-serif;
  
  }
  
  .changeToDefault2 li::marker {
    color: #f68820;
  }
  
  
  .changeToDefault2 ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color:#8e8d90;
    font-family: 'Hind Siliguri', sans-serif;
  }
  
  .changeToDefault2 a{
    color: #007bff;
    font-family: 'Hind Siliguri', sans-serif;
  
  }