.brand-container {
  padding: 5.5rem 0rem 2rem 0rem;
}

.brand-banner {
  width: 100%;
  height: 250px;
}

.brand-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand-section {
  padding: 0rem 1rem;
  max-width: 1440px;
  margin: 0rem auto;
}

.brand-hero {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem 2rem;
}
.brand-details h3{
  font-weight: 700;
  color: #000;
  font-size: 1.5rem;
}

.brand-image {
  width: 125px;
  height: 125px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  border: 2px solid #fff;
  background-color: #fff;
  margin-top: -65px;
}

.brand-image img {
  width: 100%;
  height:  100%;
  object-fit: cover;
}


.brand-creds {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem 2rem;
}

.brand-creds li {
  font-size: 14px;
  color: #313131;
  display: flex;
}

.brand-creds li i{
  color: #888888;
  font-size: 1rem;
  padding-top: 3px;
  margin-right: 6px;
}

.brand-desc h6 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.brand-desc p {
  font-size: 15px;
  color: #313131;
}

.brand-desc a {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
  grid-gap: 0.5rem;
  border-radius: 2rem;
  border: 2px solid #3FAEFF;
  width: max-content;
  margin: 1rem auto 0rem auto;
  padding-right: 1rem;
  background-color: #3FAEFF;
  color: #fff;
}

.brand-desc a i {
  font-size: 2rem;
}

@media only screen and (min-width : 1024px) {
  .brand-section {
    padding: 0rem 6rem;
  }

  .brand-image {
    width: 175px;
    height: 175px;
    margin-top: -90px;
  }
  .brand-banner {
      height: 350px;
  }
  .brand-hero {
    flex-direction: row;
  }

  .brand-details h3 {
    font-size: 2rem;
  }

  .brand-creds {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .brand-details {
    padding-top: 0.5rem;
  }
  .brand-desc h6 {
    font-size: 1.5rem;
  }

  .brand-desc p {
    font-size: 1rem;
  }

  .brand-desc {
    padding-top: 2rem;
  }
}
