.orders-log {
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    /* margin: 10rem auto 3rem auto; */
    /* overflow: hidden; */
    /* width: max-content; */
    width: max-content;
    padding-top: 180px;
    overflow-x: auto;
    padding-bottom: 50px;
}
.orders-log table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
.orders-log td, .orders-log th {
    padding: 4px 8px;
    border-right:  0.0625rem solid rgba(0,0,0,0.17);
}

.orders-log table thead tr td {
    font-weight: 700;
    font-size: 15px;
}

.orders-log table tbody tr td {
    font-size: 14px;
    text-align: center;
    width: max-content;
}

.orders-log tr {
    border-bottom:  0.0625rem solid rgba(0,0,0,0.17);
}

#special{
    display: flex;
    gap:5px;
    justify-content: center;
}

.parent-cotainer{
    display:flex;
    justify-content: center;
}