.container input {
    height: 40px;
    padding: 0px 14px;
  }
  
  .container label {
    height: 36px;
    top: -6px;
  }
  
  .container label[data-shrink="true"] {
    top: 0;
  }

  /* #firstName-outlined::placeholder {
    font-size: 14px;
 } */