.categories {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 0rem auto;
    max-width: 1260px;
}

.categories-list h2 {
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 2rem;
}

.categories-list {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
}

.categories-list .category-name-active {
    padding:0.75rem;
    display: flex;
    align-items: center;
    border : 2px solid #ff4032;
    height: 2.3rem;
    color: #ff4032;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.categories-list .category-name {
    padding:0.75rem;
    display: flex;
    align-items: center;
    height: 2.3rem;
    color: #505059;
    cursor: pointer;
    border-radius: 4px;
}

.categories-list .category-name span {
    font-size: 15px;
    color: #000;
}

.categories-list .category-name:hover {
   border: 1px dotted #ff4032;
}

.home-coupons-content {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-coupons-content h6 {
    font-size: 14px;
    line-height: 15px;
    color: #000;
    font-weight: 700;
    padding-bottom: 4px;
}

.home-coupons-content span {
    padding-top: 0.25rem;
    font-size: 12px;
    color: #ff4032;
}

.home-coupons {
    padding : 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    box-sizing: border-box;
}

.home-coupons-card {
    border: 1px solid #888888;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.home-coupons-card .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    border-right: 1px solid #888888;
}

.home-coupons-view {
    text-align: right;
}

.home-coupons-view a{ 
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s;
    text-decoration: underline;
    font-weight: 700;
}
.home-coupons-card .img-wrapper img {
    width: 100%;
    height: 60px;
}

@media only screen and (min-width : 768px) {
    .categories {
        grid-template-columns: 1fr 2fr;
    }

    .home-coupons {
        padding: 0rem;
        grid-template-columns: 1fr 1fr;
    }
    .home-coupons-view {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (min-width : 1024px) {
    .categories {
        grid-template-columns: 1fr 2fr;
    }
    .home-coupons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}