.services {
  margin: 0rem auto;
  padding: 2rem 1rem;
  max-width:1440px;
}

.services h1 {
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.services-section{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem 2rem;
}

.service-container {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.service-container li h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #ff4032;
}

.service-container li ul li span {
  font-size: 14px;
  line-height: 0px;
}

@media only screen and (min-width : 768px) {
  .services-section{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width : 1024px) {
  .services-section{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .services {
    padding: 2rem 6rem;
  }
}