.heading::after {
  display: inline-block;
  content: "";
  border-top: 2px solid rgb(180, 173, 173);
  width: 1120px;
  transform: translateY(-0.4rem);
  margin-left: 1rem;
}

.webinar-section {
  padding: 2rem 1rem;
}



.popular-head::after {
  display: inline-block;
  content: "";
  border-top: 2px solid rgb(180, 173, 173);
  width: 980px;
  transform: translateY(-2rem);
  margin-left: 15rem;
}
.web-header{
  display: flex;
  justify-content: center;
}

.webinar-conatainer {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  max-width: 1440px;
  margin: 0rem auto;
}
.webinar-head {
  width: 100%;
  overflow: hidden;
  /* height: 600px; */
  background-color: #f5f5f5;
  padding: 0rem 1rem;
  position: relative;
}

.webinar-section-footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

/* .web-image {
  background-image: url("../images/webinar8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
} */

.webinar-section-footer h3 {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
  text-align: left;
}

/* .web-offer {
  background-image: url("../images/offer1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  width: 80px;
  height: 80px;
  margin-top: 215px;
  margin-left: -50px;
  border-radius: 50%;
  overflow: hidden;
} */

.web-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #b6c9f0;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

.web-feat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #B6C9F0;
  border-radius: 8px 8px 0px 0px;
  width: 300px;
}

.web-feat h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  padding-bottom: 0rem;
}

.web-feat h4 {
  font-weight: bold;
  font-size: 1.2rem;
}

.web-book {
  background: linear-gradient(to right, #3d84b8 0%, #344fa1 100%);
  /* width: 100%; */
  padding: 8px;
  max-width: 300px;
  width: 100%;
  display: flex;
  /* margin: auto; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.web-book a {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
  width: 100px;
  border-radius: 5px;
}

.webinar-section-actions {
  margin-top: 0.25rem;
  color: #fff;
  width: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.webinar-section-actions div button a {
  color: #000;
  font-weight: 700;
}

.web-book button {
  width: 120px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.web-book button:hover {
  border: 1px solid white;
}

.web-book h1 {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
}

@media only screen and (min-width : 768px) {
  .web-header {
    margin-right: 2rem;
  }
  .web-feat, .web-book, .webinar-section-actions {
    margin-left: 2rem;
  }
  .webinar-section-footer h3 {
    text-align: left;
    margin-left: 2rem;
  }

  .web-feat h3 {
    margin-left: 0rem;
  }
  .webinar-section-footer {
    margin-top: 1rem;
  }
}

@media only screen and (min-width : 1024px) {
  .webinar-head {
    padding: 0rem 6rem;
  }
  .webinar-conatainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}