* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card-head {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  width:75%;
  /* margin-left: 40px; */
  padding-left: 63px;
}

.card {
 
  max-width: 300px;
  margin: auto;
  padding-right: 1rem;
  border:none !important; 
}


.service-head12 {
  margin-left: 5px;
}
/* 
.service-head12::after {
  display: inline-block;
  content: "";
  border-top: 2px solid rgb(180, 173, 173);
  width: inherit;
  transform: translateY(-0.4rem);
  margin-left: 1rem;
} */

.MuiDivider-root{
  height:4px;
}

.slick-prev {

  left: -41px;
}

.slick-list {

  margin-left: 0px !important;
}


@media (max-width:500px) {
  
  .card-head {
    padding-left: 30px;
  }

}


@media screen and (max-width: 1200px) and (min-width: 500px) {

  .card-head {
    padding-left: 57px;
  }

  .slick-prev {

    left: -37px;
  }
  

}


@media (max-width:800px) {

  .slick-prev:before,
.slick-next:before {
  /* color: #881798 !important; */
  font-size: 15px  !important;
}

}